/* ================================
   imports 
   ================================ */
   
   /* ================================
      media queries 
      ================================ */
   
   @mixin tablet {
       @media only screen and (min-width: 640px) {
           @content;
       }
   }
   
   @mixin desktop {
       @media only screen and (min-width: 1080px) {
           @content;
       }
   }
   
   @mixin wide {
       @media only screen and (min-width: 1920px) {
           @content;
       }
   }
   
   @mixin custom($size) {
       @media only screen and (min-width: $size) {
           @content;
       }
   }
   
   /* ================================
      variables
      ================================ */
   
   // colors
   
   $cl-primary: #364BF7;
   
   $cl-white: #FFFFFF;
   $cl-grey: #666666;
   $cl-black: #222226;
   
   $cl-error: #dc3545;
   $cl-warning: #ffc107;
   $cl-succes: #198754;
   
   $cl-primary-text: $cl-black;

   
//    $cl-secondary-text: $cl-dark;
   
   // font family
   
   $ff-primary: "Archivo", system-ui; // titles & buttons
//    $ff-secondary: 'Open Sans', sans-serif; // Text
   
   // font size
   
   $fs-base: 16px;
   
   $fs-tiny: calc(#{$fs-base} * 0.875); // 16 * 0.875 = 14px
   $fs-small: calc(#{$fs-base} * 1);
   $fs-medium: calc(#{$fs-base} * 1.25); // 16 * 1.25 = 20px
   $fs-large: calc(#{$fs-base} * 1.5); // 16 * 1.5 = 24px
   $fs-huge: calc(#{$fs-base} * 2); // 16 * 2 = 32px
   $fs-insane: calc(#{$fs-base} * 3); // 16 * 4 = 64px
   
   // letter spacing
   
   $ls-base: 1px;
   
   $ls-small: calc(#{$ls-base} * 0);
   $ls-medium: calc(#{$ls-base} * 1);
   $ls-large: calc(#{$ls-base} * 2);
   
   // line-height
   
   $lh-base: 1;
   
   $lh-small: calc(#{$lh-base} * 1);
   $lh-medium: calc(#{$lh-base} * 1.5);
   $lh-large: calc(#{$lh-base} * 2);
   
   // font weight
   
   $fw-light: 300;
   $fw-regular: 400;
   $fw-medium: 500;
   $fw-bold: 700;
   $fw-black: 800;
   
   // shadows
   
   @mixin shadow {
       box-shadow: 0px 8px 16px 0 rgba($cl-black, 0.16);
   }
   
   @mixin shadow-hover {
       box-shadow: 0px 8px 16px 0 rgba($cl-black, 0.32);
   }
   
   @mixin shadow-text {
       text-shadow: 4px 4px 8px rgba($cl-black, 0.64);
   }
   
   // border radius
   
   $br-square-top-left: 8px; 
   $br-square-top-right: 8px;
   $br-square-bottom-left: 8px;
   $br-square-bottom-right: 8px;
   
   @mixin square {
       border-radius: $br-square-top-left $br-square-top-right
           $br-square-bottom-right $br-square-bottom-left;
   }
   
   $br-rectangle-top-left: 0px;
   $br-rectangle-top-right: 0px;
   $br-rectangle-bottom-left: 0px;
   $br-rectangle-bottom-right: 0px;
   
   @mixin rectangle {
       border-radius: $br-rectangle-top-left $br-rectangle-top-right
           $br-rectangle-bottom-right $br-rectangle-bottom-left;
   }

   //border

    $bor: solid #151515 2px;

   
   // padding
   
   @mixin padding {
       padding: 64px 16px 32px 16px;
   
       @include tablet {
           padding: 64px 32px 32px 32px;
       }
   
       @include desktop {
           padding: 64px 64px 32px 64px;
       }
   }
   
   @mixin padding-inline {
       padding-inline: 16px;
   
       @include tablet {
           padding-inline: 32px;
       }
   
       @include desktop {
           padding-inline: 64px;
       }
   }
   
   @mixin gap {
       gap: 16px;
   
       @include tablet {
           gap: 32px;
       }
   
       @include desktop {
           gap: 64px;
       }
   }
   
   // transition
   
   $speed: 0.25s;
   
   @mixin transition {
       transition: all $speed ease; //x1
   }
   
   @mixin transition-delay {
       transition: all $speed ease $speed; // 1x 1x
   }
   
   @mixin transition-slow {
       transition: all calc(#{$speed} * 2) ease; // 2x
   }
   
   /* ================================
      helper functions 
      ================================ */
   
   /* ================================
      document 
      ================================ */
   
   // html
   
   html {
       background: $cl-white;
   }
   
   // body
   
   body {
       position: relative;
       font-family: $ff-primary;
       font-size: $fs-small;
       line-height: $lh-large;
       font-weight: $fw-regular;
       color: $cl-black;
       letter-spacing: $ls-medium;
       background: $cl-white;
       border: solid $cl-black 2px;
       margin: 16px;
   }
   
   main{
       padding-top: 128px;
   }
   
   // wrapper
   
   .wrapper {
       width: 100%;
       max-width: 1920px;
       margin: 0 auto;
       @include padding;
   }
   
   /* ================================
      content 
      ================================ */
   
   // titles
   
   h1,
   h2,
   h3,
   h4,
   p {
       font-family: $ff-primary;
       font-weight: $fw-regular;
       line-height: $lh-small;
       color: $cl-black;
       text-transform: initial;
       position: relative;
       z-index: 1;
       margin: 0px;
       padding-bottom: 32px;
   }
   
   h1,
   h2 {
       font-size: $fs-huge;
       color: $cl-black;
       font-weight: $fw-black;
       text-transform: uppercase;
   
       @include tablet{
           font-size: $fs-insane;
       }
   }
   
   h3 {
       font-size: $fs-huge;
       color: $cl-black;
       font-weight: $fw-bold;
   }
   
   h4 {
       font-size: $fs-medium;
       color: $cl-black;
   }
   
   // paragraph
   
   p {
       padding-bottom: 32px;
   }
   
   // link
   
   a {
       &,
       &:not(.button),
       &:visited,
       &:active,
       &:focus {
           cursor: pointer;
           color: $cl-primary;
           @include transition;
       }
   
       &:hover {
           color: darken($cl-primary, 4%);
       }
       text-decoration: none;
   }
   
   // image
   
   img {
       width: 100%;
       height: auto;
   }
   
   // strong
   
   strong {
       font-weight: $fw-bold;
   }
   
   // italic
   
   em {
       color: lighten($cl-black, 32%);
       font-weight: $fw-bold;
   }
   
   // striketrough
   
   del {
       font-weight: $fw-bold;
   }

   // ul

   ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
   }
   
   
   // selection
   
   ::selection {
       background: rgba($cl-primary, 0.5);
       text-shadow: none;
   }
   
   // autofill
   
   input:-webkit-autofill,
   input:-webkit-autofill:hover,
   input:-webkit-autofill:focus,
   input:-webkit-autofill:active {
       transition: background-color 5000s ease-in-out 0s;
   }
   
   /* ================================
      imports 
      ================================ */
   
   // components
   
   @import 'components/button';
//    @import 'components/card';
   
   // header + footer
   
   @import 'footer';
   @import 'header';
   
   // blocks
   
   @import 'blocks/hero';
   
   