section.hero{

    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 128px;

    .text-hero{
        @include padding;
        text-align: center;
        // width: 75%;   

        h1{
            font-size: 96px;
        }
    }

    .button-container{
        margin: auto;
    }
}